.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 60px;
}

.App-header {
  background-color: #e1e4e8;
  height: 100px;
  width: 100%;
  padding: 10px;
  color: black;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: #24292e;
}

a:hover {
  color: #0366d6;
}

.table-container {
  width: 1000px;
  box-sizing: border-box;
  padding: 20px;
  margin: auto;
}

.issue-list {
  display: flex;
  flex-direction: column;
  border: 1px solid #e1e4e8;
  border-radius: 10px;
}

.issue-list-header {
  background: #f6f8fa;
  border-radius: 10px 10px 0px 0px;
}

.issue-header-info {
  margin: 15px;
}

.issue-header-filters {
  display: flex;
  margin-left: auto;
  margin-top: 10px;
  margin-right: 10px;
  align-self: center;
}

.issue-list-authors-filter-link, .issue-list-labels-filter-link {
  margin-right: 80px;
}

.issue-list-authors-filter-link:hover, .issue-list-labels-filter-link:hover {
  cursor: pointer;
}

.issue-header-icon {
  margin-right: 10px;
}

.filter-dropdown {
  display: flex;
  flex-direction: column;
  width: 250px;
  border: 1px solid #e1e4e8;
  background: white;
  border-radius: 3px;
  z-index: 10;
  position: absolute;
  box-shadow: 0 3px 12px rgba(27,31,35,0.15)
}

.filter-title {
  margin: 5px 0px 5px 0px;
}

.filter-input-wrapper {
  height: 40px;
  background: #f6f8fa;
}

.filter-list-item {
  display: flex;
  padding-left: 30px;
  padding-top: 8px;
  height: 25px;
  border-bottom: 1px solid #e1e4e8;
  font-size: 14px;
  color: #586069;
}

.filter-list-item:hover {
  background: #0366d6;
  color: white;
}

.filter-input {
  vertical-align: middle;
  width: 90%;
  height: 25px;
  border-radius: 3px;
  border: 1px solid #e1e4e8;
  font-size: 16px;
}

.filter-input::placeholder {
  opacity: .5;
}

.issue-list-item {
  display: flex;
  border-bottom: 1px solid #e1e4e8; 
}

li:last-of-type {
  border-bottom: none;
}

.filter-avatar, .filter-color {
  height: 16px;
  width: 16px;
  margin-right: 5px;
}

.filter-color {
  border-radius: 5px;
}

.issue-list-item:hover {
  background: #f6f8fa;
}

.list-item-icon {
  width: 30px;
  align-self: center;
  margin: 10px;
  color: #008000;
}

.list-item-right-side {
  margin-left: auto;
}

.list-item-left-side {
  width: 80%;
  text-align: left;
}

.list-item-name {
  display: inline-flex;
  margin: 10px 5px 3px;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
  word-wrap: break-word;
  color: #24292e;
}

.list-item-number {
  font-size: 12px;
  color: #586069;
  margin-bottom: 10px;
}

.avatar {
  margin-top: 12px;
}

.list-item-label {
  display: inline-flex;
  height: 15px;
  margin-right: 5px;
  padding: 2px;
  border-radius: 2px;
  font-size: 12px;
  font-weight: bold;
  box-shadow: inset 0 -1px 0 rgba(27,31,35,0.12);
}

.list-item-comments {
  display: inline-flex;
  margin-right: 2px;
  margin-left: 20px;
  font-size: 14px;
  width: 40px;
}


