.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 120px;
  padding: 10px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

ul {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: #24292e;
}

a:hover {
  color: #0366d6;
}

.table-container {
  width: 1000px;
  box-sizing: border-box;
  padding: 20px;
  margin: auto;
}

.issue-list {
  display: flex;
  flex-direction: column;
  border: 1px solid #e1e4e8;
  border-radius: 10px;
}

.issue-list-item {
  display: flex;
  border-bottom: 1px solid #e1e4e8; 
}

.issue-list-item:hover {
  background: #f6f8fa;
}

.list-item-icon {
  width: 30px;
  align-self: center;
  float: left;
  margin: 10px;
  color: #008000;
}

.list-item-right-side {
  margin-left: auto;
}

.list-item-left-side {
  width: 80%;
  text-align: left;
}

.list-item-name {
  display: inline-flex;
  margin-top: 10px;
  margin-right: 5px;
  margin-bottom: 3px;
  font-weight: 10;
  font-size: 16px;
  word-wrap: break-word;
  color: #24292e;
}

.list-item-number {
  font-size: 12px;
  color: #586069;
  margin-bottom: 10px;
}

.avatar {
  margin-top: 10px;
  align-self: center;
}

.list-item-label {
  display: inline-flex;
  height: 15px;
  margin-right: 5px;
  padding: 2px;
  border-radius: 2px;
  font-size: 12px;
  font-weight: bold;
  text-align: left;
  box-shadow: inset 0 -1px 0 rgba(27,31,35,0.12);
}

.list-item-comments {
  display: inline-flex;
  margin-right: 10px;
  margin-left: 20px;
  font-size: 14px;
}


